<% provide(:title, "Password Reset") %>
<h1>Password Reset</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :as => :user, :url => password_reset_path(:id => params[:id]), :method => :patch do |f| %>
      <%= render 'shared/error_messages' %>

 	  <%= @user.name %> has requested a password reset. Please enter your new password: <br/>
 	  
      <%= f.label :password %>
	  <%= f.password_field :password %>
	    
	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>

      <%= f.submit "Update Password", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>